//给项目提供scss全局变量
//定义项目主题颜色

//左侧菜单
$base-menu-width: 260px;
$base-menu-min-width: 70px;
$base-menu-background: #001529;
$base-menu-logo-height: 50px; // logo高度
$base-menu-logo-fontsize:20px; // logo标题字体大小

//顶部导航
$base-tabbar-height: 60px;